*{
    box-sizing: border-box;
}

body{
    font-family: "Work Sans", sans-serif;
}

.container{
    width: 1170px;
    margin: auto;
}

a{

    color: rgb(34, 9, 102);
    transition: .1s ease-in-out;
}

li:hover > a{
    transition: .1s ease-in-out;
    color: rgb(57, 27, 226);
}


nav ul{
    box-shadow: 0 3px 10px 0px rgba(99, 99, 99, 0.1);
}

nav > ul{
    box-shadow:  0 3px 10px 0px rgba(99, 99, 99, 0.1);
    border-radius: 10px;
}

nav > ul > li{
    transition: .3s;
}

nav > ul > li > a{
    transition: .3s;
}

nav > ul > li:hover{
    background-color: rgb(42, 22, 158);
    transition: .3s;
}

nav > ul > li:hover > a{
    color: #fff;
    transition: .3s;
}

nav > ul > li ul{
    padding: 16px 0;
    border-radius: 8px;
    background-color: #fff;
}

nav > ul > li > ul li{
    padding: 0 16px;
}

nav > ul > li > ul li a{
    border-radius: 4px;
    display: block;
    padding: 16px 8px;
    min-width: 150px;
    text-align: center;
}

nav > ul > li > ul li:hover > a{
    background-color: rgb(202, 193, 255);
   
}


/*---------------------------------------------------------------------- MENU ---------------------- */

@keyframes slide{ 
    from { 
        transform: translateY(20px); 
        opacity:0;
    } 
    to { 
        transform: translateY(0px); 
        opacity: 1;
    }
}  

nav a{
    text-decoration: none;
}


nav button{
    display: none;
    border: none;
    background: none;
    border-radius: 0;
    cursor: pointer;
}

nav > ul > li ul{
    animation-name: slide;
    animation-duration: .2s;
    transform: .1s ease-in-out;
}

nav > ul > li ul{
    display: none;
}


nav ul li:hover > ul{
    display: block;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    padding: 8px 24px;
}

nav > ul{
    display: flex;
    list-style: none;
}

nav > ul > li{
    padding: 24px;
    position: relative;
    display: flex;
    list-style: none;
    position: relative;
}

nav > ul > li > ul{
    position: absolute;
    top : 100%;
    left: 0;
}

nav > ul > li > ul li{
    position: relative;
}

nav > ul > li > ul > li ul{
    position: absolute;
    top : 0;
    left: 100%;
}


@media (max-width: 767px) {

    .container{
        width: 100%;
    }
/* ------------------------------------------------------------------------------------ */

    nav button{
        display: block;
        align-self: center;
        width: 20%;
    }
    nav button span{
        transition : .3s ease-in-out;
        display:block;
    }
    
    nav button.mobile-open span{
        transform: rotate(180deg);
        transform-origin: center;
        transition : .3s  ease-in-out;
    }

    nav > ul{
        padding: 24px;
    }

    nav ul li{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
    }

    nav > ul > li ul.mobile-open{
        display: block;
        overflow: hidden;
        max-height: 2500px;
        transition: max-height 5s;
    }

    nav > ul > li ul{
        position: static;
        box-shadow: none;
        padding: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s cubic-bezier(0, 1, 0, 1);

    }    

    nav > ul > li > ul li{
        padding: 0 0 0 24px;
    }
    
    nav > ul > li > ul li a{
        text-align: left;
        min-width: 0;
    }


    nav > ul > li > ul li:hover > a{
        background:none;
    }
    

    nav ul{
        display: block;
        position: relative;
        width: 100%;
        box-shadow: none;
    }
    
    nav > ul li a,
    nav > ul li button{
        padding: 16px 8px;
    }

    nav > ul li button{
        background-color: rgb(202, 193, 255);
        color: rgb(85, 59, 231);
        border-radius: 10px;
    }
    
    nav > ul > li:hover{
        background: none;
    }
    nav > ul > li:hover > a{
        color: rgb(85, 59, 231);
    }

    nav >  ul li a{
        display: block;
        width: 80%;
    }

    nav > ul > li > ul{
        position: relative;
        top: unset;
        bottom: unset;
        right: unset;
        left: unset;
    }

    nav > ul > li > ul > li ul{
        position: relative;
        top: unset;
        bottom: unset;
        right: unset;
        left: unset;
    }
}

